<div class="container" id="feed-container">
    <div class="card-columns ">
        

        {{#each images}}

        {{> feed/posts-block this}}
        {{/each}}

        {{else}}
        {{#each images}}
        {{> feed/feed-block this}}

        {{/each}}
        
    </div>
</div> 