<div class="card potties animated bounceInDown" style=" width: 20rem;">


<div class="card"></div>
    
    <h5 class="card-title">{{title}}</h5>
    <a href="{{link}}" class="btn btn-primary">Go to article</a>
    <a href="/localArticles" class="btn btn-primary">add to your articles</a>
</div>