<div class="card potties animated bounceInDown" style=" width: 20rem;">

  <img src="{{url}}" class="card-img-top" alt="#">


<div class="card"></div>
    <img src="https://placeimg.com/640/480/tech" class="card-img-top" alt="#">
    <h5 class="card-title">{{title}}</h5>
    <a href="{{link}}" class="btn btn-primary">Go to article</a>
    <a href="/localArticles" class="btn btn-primary">add to your articles</a>
</div>